<a href="https://colab.research.google.com/github/Nickguild1993/Python_for_data_analysis/blob/main/Indexing_and_selecting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import libraries

import pandas as pd
import numpy as np
import seaborn as sns

Sliceing and Dicing pandas data.

- Review basics
- Multi- Index
- Getting Single Values
- Pointing out extra stuff (not super important)

#### reviewing the basics

In [ ]:
# get the data

tips = sns.load_dataset("tips")
tips.sample(5)

     total_bill   tip     sex smoker   day    time  size
88        24.71  5.85    Male     No  Thur   Lunch     2
28        21.70  4.30    Male     No   Sat  Dinner     2
14        14.83  3.02  Female     No   Sun  Dinner     2
35        24.06  3.60    Male     No   Sat  Dinner     3
217       11.59  1.50    Male    Yes   Sat  Dinner     2

4 basic ways to get data from a df

In [ ]:
# get columns

tips[["sex", "smoker"]].head(3)

      sex smoker
0  Female     No
1    Male     No
2    Male     No

In [ ]:
# get rows (but few legit use cases)
tips[3:7]

   total_bill   tip     sex smoker  day    time  size
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2

INSTEAD USE EITHER ILOC or LOC

In [ ]:

# .loc gets you the rows and columns based on their name (true index and column name)
tips.loc[2:4, "sex" : "smoker"]

      sex smoker
2    Male     No
3    Male     No
4  Female     No

In [ ]:
tips.loc[1:5, "tip": "day"] # loc is inclusive!!!!

    tip     sex smoker  day
1  1.66    Male     No  Sun
2  3.50    Male     No  Sun
3  3.31    Male     No  Sun
4  3.61  Female     No  Sun
5  4.71    Male     No  Sun

In [ ]:
# .iloc does the same, but you use their ordering instead of calling them based on name

tips.iloc[1:3, 0:2]

   total_bill   tip
1       10.34  1.66
2       21.01  3.50

In [ ]:
tips.iloc[1:5, 1:5] # .iloc is NOT inclusive!!

    tip     sex smoker  day
1  1.66    Male     No  Sun
2  3.50    Male     No  Sun
3  3.31    Male     No  Sun
4  3.61  Female     No  Sun

In [ ]:
# Boolean broadcasting

tips["tip"] > 5

0      False
1      False
2      False
3      False
4      False
       ...
239     True
240    False
241    False
242    False
243    False
Name: tip, Length: 244, dtype: bool

In [ ]:
tips[[tips["day"] == "Sun"] and tips["smoker"] != "Yes"].head(3)

   total_bill   tip     sex smoker  day    time  size
0     9000.00  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [ ]:
tips[tips["tip"] > 3].head()

   total_bill   tip     sex smoker  day    time  size
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
7       26.88  3.12    Male     No  Sun  Dinner     4

In [ ]:
tips[tips["sex"] == "Male"].tail(3)

     total_bill   tip   sex smoker  day    time  size
239       29.03  5.92  Male     No  Sat  Dinner     3
241       22.67  2.00  Male    Yes  Sat  Dinner     2
242       17.82  1.75  Male     No  Sat  Dinner     2

In [ ]:
tips[tips["time"] != "Dinner"].head(3)

    total_bill   tip   sex smoker   day   time  size
77       27.20  4.00  Male     No  Thur  Lunch     4
78       22.76  3.00  Male     No  Thur  Lunch     2
79       17.29  2.71  Male     No  Thur  Lunch     2

#### Multi-Index

Run into this with GroupBys

In [ ]:
tips.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [ ]:
mean_tips = tips.groupby(["sex", "smoker"]).agg({"tip": "mean"})
print(mean_tips)

                    tip
sex    smoker
Male   Yes     3.051167
       No      3.113402
Female Yes     2.931515
       No      2.773519

In [ ]:
# wanted to double check to see if using multiple lines created an iterable df but it does not :/

test_tips = tips.groupby(["sex", "smoker"])  

test_tips = test_tips.agg({"tip":"mean"})
print(test_tips)

                    tip
sex    smoker
Male   Yes     3.051167
       No      3.113402
Female Yes     2.931515
       No      2.773519

In [ ]:
mean_tips.index

MultiIndex([(  'Male', 'Yes'),
            (  'Male',  'No'),
            ('Female', 'Yes'),
            ('Female',  'No')],
           names=['sex', 'smoker'])

In [ ]:
mean_tips.loc[("Male","No")]

tip    3.113402
Name: (Male, No), dtype: float64

#### using reset_index()

In [ ]:
test_tips

                    tip
sex    smoker
Male   Yes     3.051167
       No      3.113402
Female Yes     2.931515
       No      2.773519

compare that shit show to this

this way it's much easier to select the "smoker" column

In [ ]:
ri_tips = mean_tips.reset_index()
ri_tips

      sex smoker       tip
0    Male    Yes  3.051167
1    Male     No  3.113402
2  Female    Yes  2.931515
3  Female     No  2.773519

In [ ]:
males = ri_tips[(ri_tips["smoker"] == "No") & (ri_tips["sex"] == "Male")] # gotta use & - NOT and
print(males)

    sex smoker       tip
1  Male     No  3.113402

using reset_index(level) argument

it makes "smoker" the index instead of the automated ascending index

In [ ]:
ri0_tips = mean_tips.reset_index(level = 0)
ri0_tips

           sex       tip
smoker
Yes       Male  3.051167
No        Male  3.113402
Yes     Female  2.931515
No      Female  2.773519

Rare use case: pulling indices back into the index (useful for certain types of merges)

In [ ]:
ri_tips.set_index(["sex", "smoker"])

                    tip
sex    smoker
Male   Yes     3.051167
       No      3.113402
Female Yes     2.931515
       No      2.773519

In [ ]:
ri0_tips = ri0_tips.set_index("sex", append= True)
ri0_tips

                    tip
smoker sex
Yes    Male    3.051167
No     Male    3.113402
Yes    Female  2.931515
No     Female  2.773519

#### Getting single values

In [ ]:
tips.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

Using "at" instead of "loc" much faster for getting a SINGLE VALUE

In [ ]:
tips.at[0, "total_bill"] = 9000
tips.head(3)

   total_bill   tip     sex smoker  day    time  size
0     9000.00  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [ ]:
tips.iat[0,0]

9000.0

#### WHERE, MASKS and QUERIES

Really only useful for *huge* datasets, otherwise use selecting

In [ ]:
df = pd.DataFrame(np.random.randn(25).reshape([5,5]))
df.head(3)

          0         1         2         3         4
0 -0.102374  0.393358 -0.025107 -0.095417 -0.177803
1 -1.356542  1.281380  0.913770  0.628241 -0.766180
2 -0.215253 -0.921719  0.508635 -1.034179  1.543997

In [ ]:
df.where(df > 0)

    0         1         2         3         4
0 NaN  0.393358       NaN       NaN       NaN
1 NaN  1.281380  0.913770  0.628241       NaN
2 NaN       NaN  0.508635       NaN  1.543997
3 NaN  0.240364       NaN       NaN       NaN
4 NaN  1.424828  1.245177  0.066024  0.597233