<a href="https://colab.research.google.com/github/Nickguild1993/Python_for_data_analysis/blob/main/LambdaFunctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# lambda arguments: expression
add10 = lambda x:x + 10 # creates a function with 1 argument that adds 10 to the argument and returns result

print(add10(5))

15

In [ ]:
def add10_func(x):
  return x + 10
add10_func(5)

15

multiple argument lambda

In [ ]:
mult = lambda x,y: x*y

print(mult(10,5))

50

In [ ]:
points2d = [(1,2), (15,1), (5,-1), (10,4)] # list with tuples x,y values

points2d_sorted = sorted(points2d)
print(points2d)
print(points2d_sorted) # sorts by x argument (1,5,10,15)

points2d_sorted = sorted(points2d, key=lambda x : x[1]) # sort by the y index (x,y)
print(points2d_sorted)

[(1, 2), (15, 1), (5, -1), (10, 4)]
[(1, 2), (5, -1), (10, 4), (15, 1)]
[(5, -1), (15, 1), (1, 2), (10, 4)]

In [ ]:
def sort_by_y(x):
  return x[1]

points2d_sorted = sorted(points2d, key = sort_by_y)
print(points2d_sorted)

[(5, -1), (15, 1), (1, 2), (10, 4)]

#### map function

In [ ]:
# map(function, sequence)
a = [1,2,3,4,5]
b = map(lambda x : x*2, a)
print(list(b))

b = [value * 2 for value in a]
list(b)
print(b)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

#### filter function

In [ ]:
# filter(func, sequence)

a = [1,2,3,4,5,6,7,8,9,10]
b = filter(lambda x : x%2==0, a)
print(list(b))


c = [ x for x in a if x %2 ==0]
print(c)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

#### reduce function

In [ ]:
# reduce(function, sequence)
from functools import reduce

a = [1,2,3,4,5,6,12]

product = reduce(lambda x, y : x * y, a)
print(product)

8640