<a href="https://colab.research.google.com/github/Nickguild1993/Python_for_data_analysis/blob/main/List_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Going over list properties

In [ ]:

# libraries
import pandas as pd
import numpy as np

In [ ]:
mylist = ["banana", "apple", "orange", "strawberry", "cake", "corn"]
print(mylist)

['banana', 'apple', 'orange', 'strawberry', 'cake', 'corn']

In [ ]:
mylist2 = list()
print(mylist2)

mylist3 = [True, 5, "apple", "apple", "cake"]
print(mylist3)

item = mylist3[2]
print(item)

items = mylist3[1:3]
print(items)

last = mylist[-1]
print(last)

[]
[True, 5, 'apple', 'apple', 'cake']
apple
[5, 'apple']
corn

In [ ]:
for value in mylist:
  print(value)

banana
apple
orange
strawberry
cake
corn

In [ ]:
if "banana" in mylist:
  print("yes")
else:
  print("No")

yes

In [ ]:
mylist5 = [fruit for fruit in mylist if fruit == "cake"]
mylist5

['cake']

In [ ]:
print(len(mylist))

mylist.append("lemon")
print(mylist)

7
['banana', 'apple', 'orange', 'strawberry', 'cake', 'corn', 'lemon', 'lemon']

Inserting a new item into a list at a specific location

In [ ]:
mylist.insert(2, "Limes") # starts at zero!
print(mylist)

['banana', 'apple', 'Limes', 'orange', 'strawberry', 'cake', 'corn', 'lemon', 'lemon']

remove items from a list

In [ ]:
# returns last item *ADDED* and removes it
removal = mylist.pop()
print(removal)
print(mylist)

lemon
['banana', 'apple', 'Limes', 'orange', 'strawberry', 'cake', 'corn', 'lemon']

In [ ]:
mylist3 = mylist

item = mylist3.remove("banana") # removes FIRST OCCURANCE
print(mylist3)

['apple', 'Limes', 'orange', 'strawberry', 'cake', 'corn', 'lemon']

In [ ]:
mylist3 = mylist3
mylist3.insert(3, "Dragonfruit")
print(mylist3)
mylist.pop()
print(mylist)

['apple', 'Limes', 'orange', 'Dragonfruit', 'Dragonfruit', 'Dragonfruit', 'Dragonfruit', 'Dragonfruit', 'Dragonfruit', 'strawberry', 'cake', 'corn', 'lemon']
['apple', 'Limes', 'orange', 'Dragonfruit', 'Dragonfruit', 'Dragonfruit', 'Dragonfruit', 'Dragonfruit', 'Dragonfruit', 'strawberry', 'cake', 'corn']

In [ ]:
mylist = ["banana", "apple", "orange", "Dragonfruit","strawberry", "cake", "corn"]
print(mylist)

['banana', 'apple', 'orange', 'Dragonfruit', 'strawberry', 'cake', 'corn']

In [ ]:
mylist.remove("Dragonfruit") # removes first value, reading RIGHT
print(mylist)

['banana', 'apple', 'orange', 'strawberry', 'cake', 'corn']

 Remove all values from a list with .clear()

In [ ]:
listicle = sorted(mylist) # if alphabetical it sorts A-Z
print(listicle)
print("------------")
print(listicle.clear())
print("------------")
print(mylist)

['apple', 'banana', 'cake', 'corn', 'orange', 'strawberry']
------------
None
------------
['banana', 'apple', 'orange', 'strawberry', 'cake', 'corn']

reverse method .reverse()

In [ ]:
mylist2 = [2,4,5,10,15,12,69]
print(mylist2)
mylist3 = mylist2.reverse()
print(mylist3)

[2, 4, 5, 10, 15, 12, 69]
None

creating a new list with the same element multiple times

In [ ]:
mylist = [0] * 5
print(mylist)

[0, 0, 0, 0, 0]

In [ ]:
new_list = [1,3,5,6,7]
list2 = mylist + new_list
print(list2)

[0, 0, 0, 0, 0, 1, 3, 5, 6, 7]

slicing a list

In [ ]:
a = list2[3:7]
print(a)

[0, 0, 1, 3]

In [ ]:
# if don't specify start, starts at beginning, if no end is specified, goes until the end
a = list2[:5]
print(a)
b = list2[3:]
print(b)

[0, 0, 0, 0, 0]
[0, 0, 1, 3, 5, 6, 7]

In [ ]:
# step in slice
c = list2[::1]
print(c)
d = list2[::-1]
print(d)

[0, 0, 0, 0, 0, 1, 3, 5, 6, 7]
[7, 6, 5, 3, 1, 0, 0, 0, 0, 0]

when creating a copy of a list, if you apply a method to the copied list, it'll also apply to the original list

In [ ]:
list_org = ["banana", "strawberry", "mango"]
print(list_org)
list_copy = list_org
list_copy.append("grape")
print(list_copy)
print("-------------")
print(list_org)

['banana', 'strawberry', 'mango']
['banana', 'strawberry', 'mango', 'grape']
-------------
['banana', 'strawberry', 'mango', 'grape']

IF YOU USE THE .COPY() METHOD, It'll copy the list to the new named variable w/o further methods changing the original list

- can also use list() to create a copy

In [ ]:
print(list_org)
print("---------")
list_copy = list_org.copy()
list_copy.append("dragonfruit")
print(list_copy)
print("original list:", list_org)

['banana', 'strawberry', 'mango', 'grape']
---------
['banana', 'strawberry', 'mango', 'grape', 'dragonfruit']
original list: ['banana', 'strawberry', 'mango', 'grape']

In [ ]:
list_again = list(list_org)
print(list_again)
list_again.insert(2, "vanilla")
print("orginal list:", list_org)
print("copied list:", list_again)

['banana', 'strawberry', 'mango', 'grape']
orginal list: ['banana', 'strawberry', 'mango', 'grape']
copied list: ['banana', 'strawberry', 'vanilla', 'mango', 'grape']

#### LIST COMPREHENSION

In [ ]:
my_list = [1,2,3,4,5,6]
b = [i * i for i in my_list]
print(my_list)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 4, 9, 16, 25, 36]