<a href="https://colab.research.google.com/github/Nickguild1993/Python_for_data_analysis/blob/main/Quick_Demo_Datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Quick demos of how to use python for data analysis

In [1]:
# Import libraries- also referred to as dependencies/packages 

import pandas as pd # *the* library for data analysis
import numpy as np # linear algebra library which is what many other libraries, including pandas is built on 

from random import random
import random

import seaborn as sns # Advanced visualization library 
import matplotlib.pyplot as plt # Basic visualization library

#### Hello World

In [2]:
print("Hello World")

Hello World

In [3]:
def say_hello():
  print("Hello world")
say_hello()

Hello world

In [4]:
def say_something(something):
  print(something)
say_something("Good morning")

Good morning

In [5]:
x = np.random.randint(1,10)
if x > 6:
  print("X is greater than 6")
else:
  print(x, "is not greater than 6")

X is greater than 6

In [6]:
fruit = "orange"

if "a" in fruit:
  print("there is an A in orange")
else:
  print("There is not an A in orange")

there is an A in orange

#### Creating a housing market dataset

Creating three seperate series, all of which have 100 observations

In [7]:
series1 = np.random.randint(1,5,100) # the first number is the low end of the range, and *IS* inclusive.  The second number is the high of the range, and is NOT inclusive. Third number is # observations

series2 = np.random.randint(1,4,100)

series3 = np.random.randint(100,301, 100)

In [8]:
print(series1.dtype)

int64

Create a dataframe from these three series

In [9]:
df = pd.DataFrame({"beds": series1,
                   "baths" : series2,
                   "price_sqr_foot" : series3})

df.head(5)

   beds  baths  price_sqr_foot
0     3      3             145
1     3      1             244
2     1      2             208
3     4      1             274
4     2      2             274

Adding a new column to the DataFrame

In [10]:
series4 = np.random.randint(1000,4001, 100) 

df.insert(3, "square_footage", series4) # first argument is the location you want the column (zero indexing so, "3" is column 4)

df.sample(5)

    beds  baths  price_sqr_foot  square_footage
21     1      1             103            2292
43     1      3             163            2516
94     3      1             254            1989
26     4      1             271            2392
38     4      3             106            2203

Adding a computed column

In [11]:
df["price"] = df["price_sqr_foot"] * df["square_footage"]

df.head(3)

   beds  baths  price_sqr_foot  square_footage   price
0     3      3             145            3348  485460
1     3      1             244            1272  310368
2     1      2             208            1119  232752

Formatting the data

In [12]:
df.columns  = df.columns.str.capitalize()
df.head(3)

   Beds  Baths  Price_sqr_foot  Square_footage   Price
0     3      3             145            3348  485460
1     3      1             244            1272  310368
2     1      2             208            1119  232752

In [13]:
df["Price"] = df["Price"].map("${0:,.2f}".format)
df.head(3)

   Beds  Baths  Price_sqr_foot  Square_footage        Price
0     3      3             145            3348  $485,460.00
1     3      1             244            1272  $310,368.00
2     1      2             208            1119  $232,752.00

#### Loading in a dataset - Analyzing Strings

You can load in a variety of data types in a variety of different ways, in this case we'll be importing a CSV file using a raw csv string from GitHub

In [14]:
url = "https://raw.githubusercontent.com/Nickguild1993/PySchools/main/resources/students_complete.csv"

df = pd.read_csv(url)

df.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60

In [15]:
print("Dataframe Dimensions:", df.shape)
print("________________________________")
print(df.isnull().sum())

Dataframe Dimensions: (39170, 7)
________________________________
Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

Working with strings

In [16]:
student_names = df["student_name"].tolist()
student_names[:5]

['Paul Bradley',
 'Victor Smith',
 'Kevin Rodriguez',
 'Dr. Richard Scott',
 'Bonnie Ray']

In [17]:
# String Split Method | Splitting a string object

# example
name = "Doug Dimmadome DDS"
print(name)
name.split()

Doug Dimmadome DDS

['Doug', 'Dimmadome', 'DDS']

In [18]:
# Splitting the student names and determining the length of said split name

for name in student_names[:10]:  # Only want the first 10 observations
  print(name.split(), len(name.split()))

['Paul', 'Bradley'] 2
['Victor', 'Smith'] 2
['Kevin', 'Rodriguez'] 2
['Dr.', 'Richard', 'Scott'] 3
['Bonnie', 'Ray'] 2
['Bryan', 'Miranda'] 2
['Sheena', 'Carter'] 2
['Nicole', 'Baker'] 2
['Michael', 'Roth'] 2
['Matthew', 'Greene'] 2

In [19]:
# Creating a new (empty) list, use it for the FOR LOOP to iterate through the names

names_to_fix = []

# using an if statement to determine which observations to count | IF the name >= 3, it's added to my empty list
for name in student_names:
  if len(name.split()) >= 3:
    names_to_fix.append(name)

# Getting the length of the list of students whose names need to be corrected
y = len(names_to_fix)
print("There are", y, "students who need their named corrected")

There are 1531 students who need their named corrected

In [20]:
# For practice, getting the students who were good and did not add fictious titles to their names

good_names = []

for x in student_names: # you can use anything for your value name, but I like to make it meaningful
  if len(x.split()) <=2:
    good_names.append(x)

c = len(good_names)
print("There are", c, "student names that do not need to be fixed")

There are 37639 student names that do not need to be fixed

In [21]:
# Using the list we created earlier containing students with 3+ strings in their name

prefixes = []

for name in names_to_fix:
  if len(name.split()[0]) <=3: # We know that the longest prefix is 4 letters
    prefixes.append(name.split()[0])

print(prefixes)
print(len(prefixes))

['Dr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Ms.', 'Dr.', 'Dr.', 'Mr.', 'Amy', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Ms.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Mr.', 'Ms.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Ms.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Ms.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Amy', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Ms.', 'Dr.', 'Mr.', 'Jon', 'Dr.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Ms.', 'Ms.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Ms.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Amy', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Ms.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Ms.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Ms.', 'Dr.', 'Mr.', 'Mr.', 'Amy', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Amy', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Ms.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Ian', 'Dr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Ms.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Dr.', 'Ms.', 'Dr.', 'Dr.', 'Ms.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Ms.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Ms.', 'Mr.', 'Ms.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Jon', 'Dr.', 'Ms.', 'Mr.', 'Mr.', 'Dr.', 'Joe', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Ms.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Ms.', 'Dr.', 'Mr.', 'Dr.', 'Ms.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Ms.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Ms.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Amy', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Ms.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Mr.', 'Ms.', 'Mr.', 'Dr.', 'Dr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Mr.', 'Mr.', 'Ms.', 'Dr.', 'Ms.', 'Mr.', 'Mr.', 'Dr.', 'Ms.', 'Dr.', 'Dr.', 'Dr.', 'Dr.', 'Dr.', 'Dr.', 'Amy', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Ms.', 'Ms.', 'Dr.', 'Mr.', 'Dr.', 'Mr.', 'Dr.', 'Dr.', 'Kim', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Ms.', 'Mr.', 'Mr.', 'Mr.', 'Dr.', 'Dr.', 'Dr.']
549

In [22]:
set(prefixes) # returns the unique values within a list

{'Amy', 'Dr.', 'Ian', 'Joe', 'Jon', 'Kim', 'Mr.', 'Ms.'}

In [23]:
# Suffixes 
suffixes = []

for name in names_to_fix:
  if len(name.split()[-1]) <= 3:
    suffixes.append(name.split()[-1])

print(suffixes)


z = len(suffixes)
print("There are", z, "student suffixes that need to removed")

['MD', 'MD', 'MD', 'III', 'DVM', 'MD', 'MD', 'MD', 'DDS', 'DVM', 'II', 'MD', 'MD', 'DDS', 'MD', 'DDS', 'MD', 'MD', 'PhD', 'MD', 'DVM', 'Lee', 'MD', 'DDS', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'DDS', 'Jr.', 'DVM', 'MD', 'MD', 'PhD', 'IV', 'MD', 'DDS', 'DDS', 'DDS', 'MD', 'DDS', 'MD', 'DVM', 'IV', 'MD', 'DDS', 'MD', 'MD', 'DVM', 'Jr.', 'MD', 'PhD', 'II', 'MD', 'DDS', 'DDS', 'DDS', 'Jr.', 'III', 'MD', 'MD', 'MD', 'DDS', 'Jr.', 'DDS', 'DVM', 'DDS', 'DVM', 'MD', 'DDS', 'PhD', 'DDS', 'DDS', 'Jr.', 'Jr.', 'DVM', 'DDS', 'MD', 'MD', 'DVM', 'DDS', 'DVM', 'Jr.', 'MD', 'Jr.', 'MD', 'PhD', 'PhD', 'DDS', 'MD', 'DDS', 'DVM', 'Cox', 'DVM', 'MD', 'Jr.', 'MD', 'DDS', 'MD', 'MD', 'DDS', 'DDS', 'Roy', 'DDS', 'DDS', 'DDS', 'II', 'PhD', 'MD', 'PhD', 'DDS', 'MD', 'DDS', 'Jr.', 'Day', 'DDS', 'MD', 'PhD', 'DDS', 'Jr.', 'DDS', 'MD', 'MD', 'MD', 'MD', 'DDS', 'MD', 'DDS', 'PhD', 'DVM', 'DDS', 'MD', 'MD', 'MD', 'DDS', 'Jr.', 'Jr.', 'DDS', 'Jr.', 'MD', 'MD', 'PhD', 'PhD', 'DDS', 'MD', 'MD', 'III', 'DVM', 'PhD', 'Jr.', 'II', 'DDS', 'DDS', 'DVM', 'MD', 'II', 'MD', 'DDS', 'MD', 'DDS', 'PhD', 'DDS', 'DDS', 'II', 'DVM', 'DDS', 'Jr.', 'DVM', 'MD', 'MD', 'DVM', 'MD', 'DDS', 'DVM', 'DDS', 'MD', 'II', 'PhD', 'MD', 'MD', 'MD', 'DDS', 'MD', 'MD', 'DDS', 'DDS', 'MD', 'DDS', 'PhD', 'DVM', 'DVM', 'MD', 'MD', 'DDS', 'DDS', 'PhD', 'MD', 'IV', 'DDS', 'Jr.', 'DDS', 'Jr.', 'MD', 'MD', 'MD', 'DDS', 'MD', 'DVM', 'DVM', 'DDS', 'DDS', 'Jr.', 'MD', 'MD', 'DDS', 'DDS', 'MD', 'MD', 'MD', 'MD', 'DVM', 'MD', 'DVM', 'DVM', 'MD', 'DDS', 'MD', 'Jr.', 'DDS', 'MD', 'MD', 'DVM', 'Jr.', 'DDS', 'MD', 'MD', 'PhD', 'DDS', 'Jr.', 'MD', 'DDS', 'MD', 'DDS', 'Jr.', 'Jr.', 'DVM', 'MD', 'DDS', 'PhD', 'MD', 'PhD', 'MD', 'V', 'II', 'MD', 'PhD', 'DVM', 'MD', 'MD', 'PhD', 'MD', 'MD', 'MD', 'DDS', 'DVM', 'Jr.', 'MD', 'Jr.', 'Jr.', 'DDS', 'PhD', 'DVM', 'DVM', 'MD', 'MD', 'MD', 'DVM', 'MD', 'DDS', 'MD', 'DDS', 'Jr.', 'MD', 'DDS', 'DDS', 'Jr.', 'DVM', 'DVM', 'DDS', 'MD', 'MD', 'DVM', 'MD', 'MD', 'MD', 'DDS', 'MD', 'Jr.', 'MD', 'MD', 'PhD', 'PhD', 'DDS', 'DDS', 'DDS', 'MD', 'MD', 'PhD', 'Jr.', 'MD', 'DDS', 'III', 'DVM', 'Jr.', 'DDS', 'DDS', 'MD', 'DVM', 'MD', 'DDS', 'MD', 'PhD', 'DDS', 'Lee', 'MD', 'Jr.', 'MD', 'DVM', 'DDS', 'DDS', 'MD', 'MD', 'DVM', 'DVM', 'DVM', 'MD', 'DDS', 'DVM', 'DDS', 'MD', 'MD', 'MD', 'DDS', 'PhD', 'DDS', 'DVM', 'DDS', 'DVM', 'DDS', 'DVM', 'DVM', 'DDS', 'II', 'MD', 'III', 'DDS', 'DDS', 'DVM', 'DVM', 'MD', 'Jr.', 'II', 'MD', 'PhD', 'PhD', 'MD', 'DDS', 'DVM', 'DVM', 'MD', 'MD', 'DVM', 'DVM', 'PhD', 'Jr.', 'Jr.', 'MD', 'MD', 'DDS', 'DDS', 'III', 'PhD', 'Jr.', 'MD', 'MD', 'MD', 'DDS', 'MD', 'DDS', 'MD', 'DVM', 'PhD', 'MD', 'MD', 'PhD', 'Jr.', 'MD', 'MD', 'MD', 'MD', 'MD', 'MD', 'DVM', 'DVM', 'PhD', 'DDS', 'DDS', 'MD', 'DDS', 'MD', 'DVM', 'DVM', 'DDS', 'DVM', 'DDS', 'MD', 'MD', 'DVM', 'DVM', 'DDS', 'Jr.', 'PhD', 'MD', 'DVM', 'DVM', 'DDS', 'DVM', 'MD', 'MD', 'MD', 'II', 'DDS', 'DDS', 'DDS', 'MD', 'Jr.', 'MD', 'Jr.', 'DDS', 'MD', 'MD', 'DVM', 'MD', 'DDS', 'DDS', 'PhD', 'Jr.', 'Jr.', 'Jr.', 'DDS', 'Jr.', 'MD', 'MD', 'DDS', 'MD', 'Jr.', 'MD', 'DDS', 'Jr.', 'DDS', 'MD', 'MD', 'Jr.', 'PhD', 'DDS', 'MD', 'II', 'PhD', 'DVM', 'MD', 'DDS', 'PhD', 'MD', 'MD', 'DDS', 'Jr.', 'MD', 'DVM', 'MD', 'MD', 'MD', 'MD', 'MD', 'DDS', 'DVM', 'PhD', 'DVM', 'III', 'Jr.', 'DVM', 'MD', 'MD', 'V', 'Jr.', 'MD', 'DVM', 'MD', 'DDS', 'DVM', 'DDS', 'Jr.', 'MD', 'PhD', 'DVM', 'DDS', 'PhD', 'MD', 'DDS', 'DDS', 'MD', 'DVM', 'IV', 'Jr.', 'MD', 'MD', 'Jr.', 'PhD', 'II', 'Jr.', 'MD', 'MD', 'MD', 'Jr.', 'MD', 'DVM', 'PhD', 'PhD', 'DDS', 'DDS', 'PhD', 'MD', 'Jr.', 'MD', 'DDS', 'MD', 'DDS', 'DVM', 'DDS', 'DVM', 'MD', 'MD', 'PhD', 'Jr.', 'Jr.', 'MD', 'DDS', 'MD', 'DVM', 'MD', 'DVM', 'DDS', 'PhD', 'PhD', 'Kim', 'DDS', 'PhD', 'DVM', 'PhD', 'DVM', 'DDS', 'MD', 'Jr.', 'PhD', 'MD', 'MD', 'II', 'III', 'MD', 'DDS', 'DDS', 'PhD', 'MD', 'DVM', 'MD', 'DDS', 'MD', 'DDS', 'Jr.', 'DDS', 'DDS', 'MD', 'IV', 'Jr.', 'DDS', 'DDS', 'Jr.', 'DVM', 'DVM', 'DVM', 'DVM', 'MD', 'DVM', 'DDS', 'MD', 'MD', 'DDS', 'DDS', 'DVM', 'III', 'DVM', 'MD', 'DVM', 'DDS', 'MD', 'MD', 'DVM', 'DVM', 'MD', 'III', 'DDS', 'MD', 'DDS', 'DVM', 'Jr.', 'III', 'MD', 'MD', 'PhD', 'DVM', 'DDS', 'MD', 'Jr.', 'DDS', 'MD', 'II', 'MD', 'Jr.', 'DDS', 'PhD', 'DDS', 'DDS', 'II', 'Jr.', 'DDS', 'MD', 'II', 'MD', 'MD', 'MD', 'Jr.', 'DDS', 'MD', 'DVM', 'PhD', 'MD', 'DVM', 'DDS', 'DDS', 'DVM', 'DDS', 'DDS', 'MD', 'MD', 'MD', 'MD', 'DDS', 'DVM', 'PhD', 'DDS', 'DDS', 'MD', 'MD', 'MD', 'DDS', 'DVM', 'MD', 'II', 'MD', 'Jr.', 'Jr.', 'MD', 'MD', 'MD', 'MD', 'DVM', 'MD', 'Jr.', 'PhD', 'PhD', 'PhD', 'DDS', 'Jr.', 'DVM', 'DDS', 'MD', 'DVM', 'PhD', 'MD', 'Jr.', 'Jr.', 'DVM', 'MD', 'DDS', 'MD', 'MD', 'Lee', 'MD', 'MD', 'MD', 'DDS', 'PhD', 'MD', 'PhD', 'MD', 'DVM', 'MD', 'MD', 'MD', 'DDS', 'II', 'DVM', 'Jr.', 'DVM', 'MD', 'Jr.', 'DDS', 'DVM', 'DDS', 'Jr.', 'DVM', 'Jr.', 'DDS', 'MD', 'PhD', 'DDS', 'DDS', 'DVM', 'MD', 'MD', 'PhD', 'DDS', 'DDS', 'DDS', 'DDS', 'MD', 'DVM', 'DVM', 'DVM', 'DDS', 'MD', 'MD', 'MD', 'Jr.', 'PhD', 'MD', 'Jr.', 'DVM', 'DDS', 'DVM', 'MD', 'DVM', 'MD', 'DDS', 'DDS', 'PhD', 'DDS', 'Jr.', 'DDS', 'MD', 'MD', 'MD', 'MD', 'DDS', 'DVM', 'MD', 'MD', 'PhD', 'MD', 'MD', 'II', 'MD', 'Jr.', 'PhD', 'MD', 'PhD', 'MD', 'MD', 'DDS', 'Jr.', 'PhD', 'DDS', 'MD', 'DDS', 'DDS', 'MD', 'MD', 'MD', 'Jr.', 'DDS', 'DDS', 'MD', 'MD', 'MD', 'MD', 'IV', 'Jr.', 'MD', 'DDS', 'MD', 'DDS', 'MD', 'MD', 'Jr.', 'MD', 'DVM', 'DVM', 'DVM', 'MD', 'MD', 'DVM', 'DVM', 'PhD', 'Jr.', 'PhD', 'DVM', 'Jr.', 'MD', 'MD', 'DDS', 'III', 'DVM', 'DDS', 'Jr.', 'MD', 'MD', 'Jr.', 'MD', 'MD', 'DVM', 'Jr.', 'Jr.', 'DDS', 'PhD', 'DDS', 'DDS', 'DDS', 'Jr.', 'Jr.', 'MD', 'DVM', 'DDS', 'MD', 'MD', 'PhD', 'DDS', 'MD', 'DDS', 'DVM', 'DVM', 'MD', 'DDS', 'MD', 'MD', 'MD', 'Jr.', 'MD', 'DVM', 'DDS', 'MD', 'PhD', 'MD', 'II', 'Jr.', 'III', 'MD', 'PhD', 'MD', 'MD', 'PhD', 'II', 'DDS', 'DVM', 'DDS', 'MD', 'DDS', 'MD', 'DVM', 'MD', 'III', 'DDS', 'MD', 'DVM', 'MD', 'II', 'DDS', 'MD', 'MD', 'DDS', 'MD', 'MD', 'DVM', 'MD', 'MD', 'MD', 'II', 'DDS', 'Jr.', 'MD', 'DDS', 'MD', 'MD', 'MD', 'MD', 'DDS', 'IV', 'MD', 'Jr.', 'III', 'DDS', 'DDS', 'MD', 'DDS', 'DVM', 'DVM', 'PhD', 'MD', 'II', 'Li', 'DVM', 'MD', 'DVM', 'DDS', 'DDS', 'DDS', 'DVM', 'MD', 'DVM', 'MD', 'MD', 'MD', 'MD', 'Jr.', 'DVM', 'MD', 'MD', 'MD', 'MD', 'DDS', 'MD', 'PhD', 'DDS', 'MD', 'MD', 'DDS', 'Jr.', 'DDS', 'DDS', 'DVM', 'DDS', 'DDS', 'MD', 'Jr.', 'DDS', 'PhD', 'Jr.', 'DDS']
There are 958 student suffixes that need to removed

In [24]:
set(suffixes)

{'Cox',
 'DDS',
 'DVM',
 'Day',
 'II',
 'III',
 'IV',
 'Jr.',
 'Kim',
 'Lee',
 'Li',
 'MD',
 'PhD',
 'Roy',
 'V'}

In [25]:
# Using replace method  - replace "old" phrase/string w/ new phrase/string inside ()

# example

x = "Dr. Strange Love"
print(x.replace("Dr.", "Mr."))
print(x.replace("Dr. ", ""))

Mr. Strange Love
Strange Love

In [26]:
# creating a list of the prefixes/suffixes we wish to remove

prefixes_suffixes = ["Dr. ", "Mr. ", "Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [27]:
for x in prefixes_suffixes:
  df["student_name"] = df["student_name"].str.replace(x, "")

df.head(3)

<ipython-input-27-b77762f26873>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df["student_name"] = df["student_name"].str.replace(x, "")

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60

In [28]:
# confirming it worked

student_names = df["student_name"].tolist()

incorrect_names = []

for name in student_names:
  if len(name.split()) >= 3:
    incorrect_names.append(name)

len(incorrect_names)
# The output of 151 is comprised of students with legit suffixes like "Jr.", "II" etc

151

#### Creating Basic Games

Rock, Paper Scissors



*   Rock beats Scissors
*   Scissors beat Paper
*   Paper beats Rock
*   X == X is a tie

In [30]:
print("Enter your choice: 1: Rock, 2: Paper, 3: Scissors")
choice = input("choose 1, 2, or 3:")
choice = int(choice) # changing dtype to integer

computer_choice = random.randint(1,3)
computer_choice = int(computer_choice)
print(f' computer chose {computer_choice}')
if choice == 1 and computer_choice == 3:
  print("player wins")
elif choice == 1 and computer_choice == 2:
  print("computer wins")
elif choice == 1 and computer_choice ==1:
  print("it's a tie")
elif choice == 2 and computer_choice == 1:
  print("player wins")
elif choice == 2 and computer_choice == 3:
  print("computer wins")
elif choice == 2 and computer_choice == 2:
  print("it's a tie")
elif choice == 3 and computer_choice == 2:
  print("player wins")
elif choice == 3 and computer_choice == 1:
  print("computer wins")
elif choice == 3 and computer_choice == 3:
  print("it's a tie")

Enter your choice: 1: Rock, 2: Paper, 3: Scissors
choose 1/2/3:3
 computer chose 3
it's a tie